<!doctype html><html><head><meta charset="UTF-8"/><meta name="robots" content="noindex"/><meta name="viewport" content="width=768" id="viewport-meta-tag"/><meta property="csp-nonce" content="{{.CSPNonce}}"/><script nonce="{{.CSPNonce}}">// If URL contains /device/, set mobile-friendly viewport
      if (window.location.pathname.includes("/device/")) {
        document
          .getElementById("viewport-meta-tag")
          .setAttribute("content", "width=device-width, initial-scale=1.0");
      }</script><link rel="stylesheet" href="{{.URLPrefix}}/assets/bundle-e0d35ac913038ed3fee2.css"/><link rel="icon" type="image/svg+xml" href="{{.URLPrefix}}/assets/favicon.svg"/><link rel="icon" type="image/png" sizes="32x32" href="{{.URLPrefix}}/assets/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="{{.URLPrefix}}/assets/favicon-16x16.png"/><link rel="shortcut icon" href="{{.URLPrefix}}/assets/favicon.ico"/><title>meshmdm</title><script nonce="{{.CSPNonce}}">var urlPrefix = "{{.URLPrefix}}";</script></head><body><div id="app"></div><script async defer="defer" nonce="{{.CSPNonce}}" src="{{.URLPrefix}}/assets/bundle-cf2153be733b63dd50b4.js"></script></body></html>